html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

body {
  --primary-color: #3559c7;
  --secondary-color: #fff;
  --milk-color: #f8f6f6;
  --dark-color: #14171f;
  --black: #000;
  --black900: #292e3d;
  --black800: #14171f;
  --gray900: #858ead;
  --gray800: #667299;
  --gray700: #c2c7d6;
  --gray650: #a3aac2;
  --gray600: #e0e3eb;
  --gray500: #e0dcdc;
  --gray400: #e0e3eb;
  --orange: #f9995d;
}

.main-header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__burger {
  width: 40px;
  height: 40px;
  display: none;
}
.main-header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__item {
  margin: 0 3.125em;
}
.main-header__link {
  color: var(--dark-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.main-section {
  position: relative;
}
.main-section__image {
  min-width: 100%;
}
.main-section__title {
  position: absolute;
  top: 50%;
  left: 10%;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
}

.our-reputation {
  padding-bottom: 3.75em;
}
.our-reputation__boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.125em;
}
.our-reputation__box {
  border: 1.4px solid var(--gray600);
  border-radius: 4px;
  padding: 1.25em;
  margin-top: 3.125em;
}
.our-reputation__tit {
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4375em;
  padding: 1.125em 0;
}
.our-reputation__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19p;
  color: var(--gray900);
}

.services__box {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.43;
}

.about-us .container {
  position: relative;
}
.about-us__img {
  display: block;
}
.about-us__box {
  position: absolute;
  width: 29.25rem;
  top: 50px;
  right: 0;
  background-color: var(--primary-color);
  padding-bottom: 1rem;
}
.about-us__title {
  padding: 2.5em 0 2em 2em;
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}
.about-us__paragraph {
  padding: 0 0 0 2.5em;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
.about-us__btn {
  padding: 1em 1.3125em;
  margin: 2em 0 0 3em;
  color: var(--primary-color);
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 21px;
  text-align: center;
  background-color: var(--secondary-color);
  border: none;
  cursor: pointer;
}

.services {
  background-color: var(--milk-color);
  padding-bottom: 5em;
}
.services__boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 6.125em;
  margin-top: 5em;
}
.services__box {
  text-align: center;
  padding: 38px 71px;
  border: 1px solid var(--black);
  color: var(--primary-color);
  text-align: center;
}
.services__box:nth-child(even) {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.services__img {
  border-bottom: 3px solid var(--gray400);
  padding-bottom: 1em;
}

.consultation {
  background-image: url("images/home-design.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 3em;
}
.consultation__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
.consultation__title {
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 42px;
  padding-bottom: 1.875em;
}
.consultation__paragraph {
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 28px;
}
.consultation__span {
  text-decoration: underline;
  cursor: pointer;
}
.consultation__btn {
  padding: 1em 1.3125em;
  margin: 2em 0 0 3em;
  color: var(--secondary-color);
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 21px;
  text-align: center;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
}

.project {
  padding: 0.5em 0 2em 0;
}
.project__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5em;
}
.project__title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25em;
  line-height: 42px;
  padding: 3em 0 1em 0;
}
.project__boxes {
  display: flex;
  gap: 1.8em;
  flex-wrap: wrap;
}
.project__item {
  padding: 0.7em;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 28px;
  list-style: none;
  color: var(--gray700);
}
.project__item:first-child {
  color: var(--primary-color);
  border-left: 0.5em solid var(--primary-color);
}
.project__item:hover {
  background-color: var(--gray500);
  border-left: 0.5em solid var(--primary-color);
  color: var(--primary-color);
}
.project__img {
  width: 100%;
  display: block;
}
.project__paragraphs {
  padding: 0.75em;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 23px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.project__paragraph {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.project__about--person {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 12px 0 16px 0;
}
.project__circal {
  width: 20px;
  height: 20px;
  display: block;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.project__slacks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
.project__button {
  width: 295px;
  height: 64px;
  background-color: var(--black900);
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.registration {
  padding-bottom: 4em;
  background-color: var(--milk-color);
}
.registration__paragraph {
  text-align: center;
  padding: 1.25em 0 2.25em 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 23px;
  text-align: center;
}
.registration__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.registration__input {
  padding: 0.5em 1.25em;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 25px;
  color: var(--gray650);
  border: 1px solid var(--gray600);
  border-radius: 4px;
}
.registration__textarea {
  border: 1px solid var(--gray600);
  border-radius: 4px;
}
.registration__err {
  color: var(--gray800);
  padding-top: 0.5em;
}
.registration__button {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 21px;
  text-align: center;
  margin-top: 1.75em;
  padding: 1em 6.4375em;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 2px;
}

.contact-us__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding-top: 85px;
}
.contact-us__paragraph {
  padding: 1.5em 0 1em 0;
  color: var(--primary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
.contact-us__logo {
  margin: 1.5em 0;
}
.contact-us__networks {
  padding-left: 10em;
}
.contact-us__images {
  margin-top: 2.5em;
}
.contact-us__email {
  margin-top: 2em;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.2em;
  padding: 0.3em 0.5em;
}
.contact-us__button {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.2;
  text-align: center;
  background-color: var(--orange);
  padding: 0.4em 0.5em;
  color: var(--secondary-color);
  border: none;
}

.footer {
  padding: 1.625em 0;
  background-color: var(--primary-color);
}
.footer__paragraph {
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.container {
  max-width: 76.25em;
  margin: 0 auto;
}

.tittle {
  padding-top: 2em;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

body {
  font-family: "Work Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
