@use "../abstracts" as *;
@use "../themes" as *;

.contact-us {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding-top: 85px;
  }
  &__paragraph {
    padding: 1.5em 0 1em 0;
    color: var(--primary-color);
    @extend %sm-title;
    line-height: 23px;
  }
  &__logo {
    margin: 1.5em 0;
  }
  &__networks {
    padding-left: 10em;
  }
  &__images {
    margin-top: 2.5em;
  }
  &__email {
    margin-top: 2em;
    @extend %body1;
    padding: 0.3em 0.5em;
  }
  &__button {
    font-style: normal;
    @extend %secondary-paragraph;
    background-color: var(--orange);
    padding: 0.4em 0.5em;
    color: var(--secondary-color);
    border: none;

  }
}
