@use "../abstracts"as *;
@use "../base/"as *;
@use "../themes"as *;


.consultation {
  background-image: url("images/home-design.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 3em;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
  }
  &__title {
    color: var(--secondary-color);
    @extend %primary-title;
    padding-bottom: 1.875em;
  }
  &__paragraph {
    color: var(--secondary-color);
    @extend %md-title;
    
  }

  &__span{
    text-decoration: underline;
    cursor: pointer;
  }
  &__btn {
    padding: 1em 1.3125em;
    margin: 2em 0 0 3em;
    color: var(--secondary-color);
    background-color: transparent;
    @extend %secondary-paragraph;
    text-align: center;
    border: 1px solid var(--secondary-color);
    cursor: pointer;
  }

  
}
