@use "../abstracts"as *;
@use "../base/"as *;
@use "../themes"as *;

.footer {
  padding: 1.625em 0;
  background-color: var(--primary-color);

  &__paragraph {
    color: var(--secondary-color);
    @extend %body1;
  }
}
