@use "../abstracts" as *;
@use "../themes" as *;

.main-header {
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__burger {
    width: 40px;
    height: 40px;
    display: none;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    margin: 0 3.125em;
  }
  &__link {
    color: var(--dark-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }

}


// @media screen and(max-width:(1024px)) {
  
// }