@use "../abstracts" as *;
@use "../base/"as *;
@use "../themes" as *;

.main-section {
  position: relative;

  &__image {
    min-width: 100%;
  }
  &__title {
    position: absolute;
    top: 50%;
    left: 10%;
    
  }
}
