@use "../abstracts"as * ;
@use "../base/"as *;
@use "../themes"as *;

.project {
  padding: 0.5em 0 2em 0;
  &__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5em;
  }
  &__title {
    @extend %lg-title;
    padding: 3em 0 1em 0;
  }
  &__boxes {
    display: flex;
    gap: 1.8em;
    flex-wrap: wrap;
  }
  &__item {
    padding: 0.7em;
    @extend %md-title;
    color: var(--gray700);
  }
  &__item:first-child {
    color: var(--primary-color);
    border-left: 0.5em solid var(--primary-color);
  }
  &__item:hover {
    background-color: var(--gray500);
    border-left: 0.5em solid var(--primary-color);
    color: var(--primary-color);
  }
  &__img {
    width: 100%;
    display: block;
  }
  &__paragraphs {
    padding: 0.75em;
    @extend %tit-size;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  &__paragraph {
    @extend %tit-size;
  }
  &__about--person {
    @extend %body1;
    padding: 12px 0 16px 0;
  }
  &__circal {
    width: 20px;
    height: 20px;
    display: block;
    background-color: var(--primary-color);
    border-radius: 50%;

  }



  &__slacks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
  }


  &__button {
    width: 295px;
    height: 64px;
    background-color: var(--black900);
    color: var(--secondary-color);
    @extend %body1;
  }
}
