@use "../abstracts"as * ;
@use "../base/"as *;
@use "../themes"as *;

.registration {
  padding-bottom:4em;
  background-color: var(--milk-color);
  &__paragraph {
    text-align: center;
    padding: 1.25em 0 2.25em 0;
    @extend %body1;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  &__input {
    padding: 0.5em 1.25em;
    @extend %body1;
    color: var(--gray650);
    border: 1px solid  var(--gray600);
    border-radius: 4px;
  }
  &__textarea {
    border: 1px solid var(--gray600);
    border-radius: 4px;
  }
  &__err {
    color: var(--gray800);
    padding-top: 0.5em;
  }
  &__button {
    @extend %body2;
    text-align: center;
    margin-top: 1.75em;
    padding: 1em 6.4375em;
    background-color:var(--primary-color);
    color:var(--secondary-color);
    border: none;
    border-radius: 2px;

  }
}
