%color {
  --primary-color: #3559c7;
  --secondary-color: #fff;
  --milk-color: #f8f6f6;
  --dark-color: #14171f;
  --black: #000;
  --black900: #292e3d;
  --black800: #14171f;
  --gray900: #858ead;
  --gray800: #667299;
  --gray700: #c2c7d6;
  --gray650: #a3aac2;
  --gray600: #e0e3eb;
  --gray500: #e0dcdc;
  --gray400: #e0e3eb;
  --orange: #f9995d;
}
