@use "../abstracts" as *;

%body1 {
  font-style: normal;
  font-weight: 400;
  font-size: crem(17px);
  line-height: 1.4;
}

%body2 {
  font-style: normal;
  font-weight: 600;
  font-size: crem(24px);
  line-height: 1.43;
}

%button-text {
  font-weight: 500;
  font-size: crem(14px);
  line-height: 1.75;
  text-transform: uppercase;
}

%primary-title {
  font-style: normal;
  font-weight: 600;
  font-size: crem(36px);
  line-height: 1.5;
}
%big-title {
  font-style: normal;
  font-weight: 600;
  font-size: crem(72px);
  line-height: 1.2em;
}

%lg-title {
  font-style: normal;
  font-weight: 700;
  font-size: crem(36px);
  line-height: 1.2em;
}
%md-title {
  font-style: normal;
  font-weight: 400;
  font-size: crem(24px);
  line-height: 1.2em;
}
%sm-title {
  font-style: normal;
  font-weight: 400;
  font-size: crem(20px);
  line-height: 1.2em;
}

%secondary-paragraph {
  font-style: normal;
  font-weight: 600;
  font-size: crem(19px);
  line-height: 1.2em;
}

%tit-size{
  font-style: normal;
  font-weight: 700;
  font-size:crem(20px);
  line-height: 1.3em;
}

%paragraph-size{
  font-style: normal;
  font-weight: 400;
  font-size: crem(16px);
  line-height: 1.2em;
}
